.firstColor{
	background: #eeeeee;
}
.secondColor{
	background: #ff003c;
}
.thirdColor{
	background: #db0034;
}
.textColor{
	color: #333333;
}
.linkColor{
	color: #444444;
}
.linkColor:visited {
	color: #444444;
}
.linkColor:hover {
	color: #444444;
}